/* regole debug */
/* h1{
    background-color: blue;
    width: 80%;
    height: 50px;
    text-align: center;
} */
/* p{
    background-color: teal;
    width: 60%;
    height: 200px;
    margin-top: 20px;
} */

/* .immagini{
    background-color: red;
    width: 300px;
    height: 500px;
} */
/* h2{
    background-color: green;
    width: 200px;
    height: 100px;

} */
/* h3{
    background-color: violet;
    width: 100px;
    height: 20px;
} */

/* regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.bottone{
    background-color: rgb(254, 254, 253);
    border-radius: 20px;
    border-style: none;
}
li:hover, .bottone:hover{
    color: brown;

}


/* regole header */
header{
    width: 100%;
    background-color:rgba(37, 94,233, 1);
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
       width: 200px;
    height: 80px;
    padding-left: 30px;
}
.accedi{
    width: 75px;
    height: 40px;
    margin: 0 25px;
    
}

ul{
    list-style: none;
}
.navigazione{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 500px;
    color:white;
    ;

}

/* regole jumbotron */
#jumbodron{
    background-image: url("../img/jumbo.png");
    background-size: cover;
    width: 100%;
    background-color: rgba(67, 116,240, 1);
    height: 670px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    color: white;
    margin-top: 200px;
    font-size: 50px;
    margin-bottom: 40px;
}
#bianco{ 
    color: white;
    width: 50%;
    font-size: 25px;
    text-align: center;
}
.Scarica{
    background-color: rgb(239, 233, 253);
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 30px;
    width: 200px;
    height: 60px;
    font-size: 20px;
}

.open {
    background-color: rgba(35, 39, 42, 1);
    margin-left: 20px;
    border-radius: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 300px;
    height: 60px;
    font-size: 20px;
    color: white;
}

/* regole main */
.sezione {
    width: 100%;
    margin-top: 100px;
    margin-bottom: 400px;
    display: flex;
    /* justify-content: center; */
}
.conteiner{
    display: flex;
    width: 60%;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 100px;
}
h2{
    font-size: 50px;
}
.testo{
    margin-top: 115px;
    font-size: 23px;
}
/* sezione reverse */

.trovarsi{
    display: flex;
    flex-direction: row-reverse;
    background-color: rgb(212, 223, 219);


}
/* sezione orizontale */
.tecnologia{
    background-color: rgba(246, 246, 246, 1);
}
.titolo-tecnologia{
    width: 100%;
    text-align: center;
    height: 80px;
}
.testo-tecnologia{
    margin-top: 20px;
    text-align: center;
    width: 50%;
    margin-left: 25%;
    font-size: 20px;

}
.immagine-tecnologia{
    width: 70%;
    margin-left: 15%;
}
.titolo-fondo-tecnologia{
    width: 100%;
    text-align: center;
    font-size: 30px;
    margin-top: 100px;
}
.fondo{
    margin-left: 45%;
    margin-top: 100px;
    background-color: rgba(114, 137, 218, 1);
    color: white;
}

/* regole footer */
#info{
    background-color: rgba(35, 39, 42, 1);
    display: flex;
    justify-content: space-evenly;
    color: white;
    width: 80%;
    margin: 0 auto;
    border-bottom: 2px solid rgba(114, 137, 218, 1);
}
.contatti{
    width: 220px;
    font-size: 24px;
}
#titolo-contatti{
    margin-top: 20px;
    margin-bottom: 5px;
    color: rgba(114, 137, 218, 1);
}
#italia{
    width: 40px;
    height: 20px;
}
.fa-brands{
    padding: 2px;
}
h4{
    color:rgba(114, 137, 218, 1);
    margin-top: 20px;

}
li{
    margin-top: 20px;
    margin-bottom: 20px;
}
.footer{
    width: 100%;
    background-color:rgba(35, 39, 42, 1);
    }
.footer-access{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background-color: rgba(35, 39, 42, 1);
}
hr{
    width: 80%;
    height: 2px;
    color:rgba(114, 137, 218, 1)
}
.logo-footer{
    width: 200px;
    height: 80px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px; 
}

.fondo-footer{
    width: 100px;
    height: 50px;
    border-radius: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 50px;
}